body {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #1f373d;
  margin: 0;
  padding: 0;
}

.homepage {
  width: 100%;
  height: 1000px;
}

.navbar {
  width: 100%;
}

.navbar-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2px;
  list-style: none;
}

.navbar-row {
  text-align: center;
  align-items: center;
}

.navbar-row-logo {
  display: flex;
  width: 150px;
  height: 50px;
}

.navbar-row-btn {
  margin-left: 10%;
}

.navbar-row-btn button {
  text-align: center;
  background-color: transparent;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 14px;
}

.navbar-row-btn button:hover {
  background-color: #ffcc01;
  border-radius: 8px;
  cursor: pointer;
}

.content-wrapper {
  max-width: 970px;
  margin: auto;
}

.hero {
  display: flex;
  position: relative;
  background-color: #96bece;
  width: 100%;
  height: 500px;
}

.hero-content {
  display: flex;
  background-color: #ffffff;
  width: 25%;
}

.hero-content-column {
  position: absolute;
  margin-top: 10%;
  margin-left: 8%;
}
.hero-content-column h1 {
  font-weight: bold;
  font-size: 50px;
}
.hero-content-column .hero-content-row {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.hero-content-column .hero-content-row i {
  display: flex;
  align-items: center;
  left: 15px;
  top: 40px;
  color: gray;
}
.hero-content-column .hero-content-row input {
  border: none;
  outline: none;
  width: 280px;
}
.hero-content-column .hero-content-row button {
  cursor: pointer;
  background-color: #ffcc01;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #1f373d;
}

.hero-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.hero-footer .hero-footer-info {
  display: flex;
  background-color: #ffcc01;
}
.hero-footer .hero-footer-info i {
  align-items: center;
  margin-left: 20px;
  color: #ffffff;
}
.hero-footer .hero-footer-info button {
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 14;
  font-weight: bold;
  color: #1f373d;
}

.company {
  display: flex;
  flex-direction: row;
  height: 40%;
  align-items: center;
  margin-top: 75px;
}
.company .company-row-primary {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-wrap: wrap;
  width: 50%;
}
.company .company-row-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}
.company .company-row-secondary .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.company .company-row-secondary .card .card-content {
  width: 140px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #f6f5f4;
}
.company .company-row-secondary .card .card-content h2 {
  font-weight: bold;
  color: #ffcc01;
}

#appartement {
  width: 100%;
  height: auto;
  margin-top: 75px;
  background-color: #f6f5f4;
  padding: 20px 0 75px 0;
}
#appartement h2 {
  padding-top: 20px;
}
#appartement .appart-container {
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
}
#appartement .appart-container .appart-card-primary {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
#appartement .appart-container .appart-card-primary .appart-card-items-img {
  height: 340px;
  background-color: #96bece;
  border-radius: 10px 10px 0 0;
}
#appartement .appart-container .appart-card-primary .appart-card-items-info {
  padding: 15px;
  font-weight: 700;
  margin-top: 15px;
}
#appartement .appart-container .appart-card-primary .appart-card-items-info span {
  font-size: 15px;
}
#appartement .appart-container .appart-card-primary .appart-card-items-info .appart-card-items-info-composite {
  display: inline;
}
#appartement .appart-container .appart-card-primary .appart-card-items-info .appart-card-items-info-composite .appart-card-items-info-composite-price {
  position: relative;
  float: left;
  margin-top: 20px;
  color: #ffcc01;
}
#appartement .appart-container .appart-card-primary .appart-card-items-info .appart-card-items-info-composite .appart-card-items-info-composite-shape {
  position: relative;
  float: right;
  margin-top: 20px;
}
#appartement .appart-container .appart-card-primary .appart-card-items-info .appart-card-items-info-composite .appart-card-items-info-composite-shape span {
  padding: 0 10px;
  font-weight: lighter;
}

#howitworks {
  width: "100%";
  height: 420px;
  font-family: Arial, Helvetica, sans-serif;
}
#howitworks .howitworks-title {
  background-color: transparent;
  width: "100%";
  padding-left: 300px;
  padding-right: 500px;
  height: 120px;
}
#howitworks .howitworks-gridcontainers {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 230px);
}
#howitworks .howitworks-gridcontainers .howitworks-grides {
  overflow: hidden;
  background-color: transparent;
  width: 210px;
  height: 250px;
  color: #1f373d;
}
#howitworks .howitworks-gridcontainers .howitworks-grides h3 {
  font-size: 130px;
  position: relative;
  top: -60px;
  left: -15px;
}
#howitworks .howitworks-gridcontainers .howitworks-grides h4 {
  font-size: 18px;
  position: relative;
  top: -60px;
}
#howitworks .howitworks-gridcontainers .howitworks-grides p {
  position: relative;
  top: -60px;
}
#howitworks .howitworks-gridcontainers .howitworks-grides a {
  position: relative;
  top: -40px;
  left: 50px;
  color: #1f373d;
}
#howitworks .howitworks-gridcontainers .howitworks-grides::after {
  display: inline-block;
  background-color: #1f373d;
  content: "";
  width: 100px;
  height: 2px;
  position: relative;
  top: -25px;
  left: -50px;
}
#howitworks .howitworks-gridcontainers .howitworks-gridesn1 {
  overflow: hidden;
  background-color: #ffcc01;
  width: 210px;
  height: 250px;
  color: white;
  text-align: center;
}
#howitworks .howitworks-gridcontainers .howitworks-gridesn1 h3 {
  font-size: 130px;
  position: relative;
  top: -60px;
  font-family: Arial, Helvetica, sans-serif;
  left: -45px;
}
#howitworks .howitworks-gridcontainers .howitworks-gridesn1 h4 {
  font-size: 18px;
  position: relative;
  top: -60px;
}
#howitworks .howitworks-gridcontainers .howitworks-gridesn1 p {
  position: relative;
  top: -60px;
}
#howitworks .howitworks-gridcontainers .howitworks-gridesn1 a {
  position: relative;
  top: -40px;
  left: 50px;
  color: white;
}
#howitworks .howitworks-gridcontainers .howitworks-gridesn1::after {
  display: inline-block;
  background-color: white;
  content: "";
  width: 100px;
  height: 2px;
  position: relative;
  top: -25px;
  left: -50px;
}

#services {
  width: 100%;
  background-color: transparent;
  color: #1f373d;
  height: 550px;
  font-family: Arial, Helvetica, sans-serif;
}
#services .services-title {
  background-color: transparent;
  width: "100%";
  padding-left: 300px;
  height: 120px;
}
#services .services-gridcontainer {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 380px);
  gap: 50px;
}
#services .services-gridcontainer .services-griden1 {
  width: 370px;
  height: 370px;
  background-color: #acd1e1;
}
#services .services-gridcontainer .services-gride {
  width: 370px;
  height: 370px;
  background-color: transparent;
}
#services .services-gridcontainer .services-gride h3 {
  padding-top: 10px;
}
#services .services-gridcontainer .services-gride p {
  padding-top: 10px;
}

#agents {
  width: 100%;
  height: auto;
  padding: 20px 0 75px 0;
}
#agents h2 {
  padding-top: 20px;
}
#agents p {
  width: 32%;
}
#agents .agent-container {
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
}
#agents .agent-container .agent-card-primary {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
#agents .agent-container .agent-card-primary .agent-card-items-img {
  height: 340px;
  background-color: #ccc;
  border-radius: 10px 10px 0 0;
}
#agents .agent-container .agent-card-primary .agent-card-items-info {
  padding: 15px;
  font-weight: 700;
  margin-top: 15px;
}
#agents .agent-container .agent-card-primary .agent-card-items-info span {
  display: inline-block;
  font-size: 15px;
}
#agents .agent-container .agent-card-primary .agent-card-items-info .agent-card-items-info-composite {
  display: block;
}
#agents .agent-container .agent-card-primary .agent-card-items-info .agent-card-items-info-composite .agent-card-items-info-composite-name {
  position: relative;
  float: left;
  margin-top: 20px;
  color: #ffcc01;
}
#agents .agent-container .agent-card-primary .agent-card-items-info .agent-card-items-info-composite .agent-card-items-info-composite-rs {
  position: relative;
  float: right;
  margin-top: 20px;
}
#agents .agent-container .agent-card-primary .agent-card-items-info .agent-card-items-info-composite .agent-card-items-info-composite-rs span {
  padding: 0 10px;
  font-weight: lighter;
}

#awesome {
  justify-content: center;
  background-color: transparent;
  width: "100%";
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 370px);
}
#awesome .awesome-gride {
  background-color: transparent;
  width: 350px;
  height: 200px;
}
#awesome .awesome-gride .gride-gray {
  background-color: #8da4be;
  width: 350px;
  height: 200px;
}
#awesome .awesome-gride .gride-gray .gride-gray-elt {
  background-color: #ffcc01;
  width: 200px;
  height: 50px;
  position: relative;
  left: 80px;
  top: 175px;
}
#awesome .awesome-gride .gride-gray .gride-gray-elt p {
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 50px;
  color: white;
  padding: 0 20px;
}
#awesome .awesome-gride .gride-gray .gride-gray-elt p span {
  color: #212121;
  float: right;
}
#awesome .awesome-gride .gride-gray .gride-gray-eltn2 {
  background-color: #ffcc01;
  width: 200px;
  height: 50px;
  position: relative;
  left: 200px;
  top: 175px;
}
#awesome .awesome-gride .gride-gray .gride-gray-eltn2 p {
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 50px;
  color: white;
  padding: 0 20px;
}
#awesome .awesome-gride .gride-gray .gride-gray-eltn2 p span {
  color: #212121;
  float: right;
}
#awesome .awesome-gride .gride-white {
  padding-left: 45px;
  text-align: left;
  background-color: transparent;
  width: 350px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
#awesome .awesome-gride .gride-white h2 {
  padding-bottom: 20px;
}
#awesome .awesome-gride .gride-whiten2 {
  padding-right: 45px;
  text-align: end;
  background-color: transparent;
  width: 350px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
#awesome .awesome-gride .gride-whiten2 h2 {
  padding-bottom: 25px;
}
#awesome .awesome-gride .gride-whiten3 {
  padding-left: 45px;
  text-align: left;
  background-color: transparent;
  width: 350px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
#awesome .awesome-gride .gride-whiten3 h2 {
  padding-bottom: 25px;
}
#awesome .awesome-gride .gride-whiten3 p {
  padding-bottom: 25px;
}
#awesome .awesome-gride .gride-whiten3 button {
  background-color: #1f373d;
  width: 150px;
  height: 40px;
  color: white;
  box-shadow: none;
  border: none;
  font-weight: bold;
}

/* footer */
footer {
  background-color: #1f373d;
  width: 100%;
  height: 400px;
}
footer .footer-head {
  align-items: center;
  width: "100%";
  background-color: transparent;
  height: 130px;
  display: flex;
}
footer .footer-head h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 250px;
}
footer .footer-head .footer-head-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-head .footer-head-input input {
  width: 350px;
  line-height: 30px;
  display: block;
  height: 50px;
  outline: 0;
}
footer .footer-head .footer-head-input .icon {
  position: absolute;
  left: 320px;
  top: -0.9;
  font-size: 20px;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-head-divider {
  margin-left: 250px;
  width: 825px;
  height: 1px;
  background-color: white;
  display: inline-block;
}
footer .footer-grid {
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 150px;
  background-color: transparent;
  width: "100%";
  height: 250px;
  display: grid;
  grid-template-columns: 32% 17% 17% 17% 17%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer-grid .footer-grid-elt1 h3 {
  padding-bottom: 60px;
}
footer .footer-grid h4 {
  color: #919eb1;
  padding-bottom: 30px;
  font-size: 10px;
}
footer .footer-grid ul li {
  padding-bottom: 10px;
  list-style: none;
}
footer .footer-grid ul li a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */